body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

div .btn{
    height: 75px;
    width: 75px;
    margin: 15px;
    font-size: 40px;
}

div .number{
    border: 1px solid greenyellow;
    border-radius: 10px;
}
button.number:hover{
    background-color: palegreen;
}

div .operator{
    border: 1px solid steelblue;
    border-radius: 10px;
}

button.operator:hover{
    background-color: paleturquoise;
}

div .decimal{
    border: 1px solid gold;
    border-radius: 10px;
}

button.decimal:hover{
    background-color: palegoldenrod;
}

div .equal{
    border: 1px solid pink;
    border-radius: 10px;
}

button.equal:hover{
    background-color: plum;
}

div .clear{
    border: 1px solid violet;
    border-radius: 10px;
}

button.clear:hover{
    background-color:palevioletred;
}

#screen{
    width: 300px;
    height: 75px;
    border: 1px solid salmon;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.previous{
    font-size: 20px;
}

.current{
    font-size: 30px;
}



